---
import Facebook from "../assets/icons/Facebook.png";
import Instagram from "../assets/icons/Instagram.png";
import Twitter from "../assets/icons/Twitter.png";
import LinkedIn from "../assets/icons/LinkedIn.png";
import Image from "astro/components/Image.astro";
import ddsgnr from "../assets/logos/ddsgnr.png";
import { Image } from "astro:assets";
---

<footer>
  <div class="subscribe">
    <Image src={ddsgnr} alt="Astro Logo" width={120} height={40} />
    <p>Join our newsletter to stay up to date on features and releases.</p>
    <div class="form">
      <form action="/subscribe">
        <input
          type="email"
          name="email"
          placeholder="enter your email address"
          required
        />
        <button type="submit">Subscribe</button>
      </form>
    </div>
    By subscribing you agree to with our Privacy Policy and provide consent to receive
    updates from our company.
  </div>
  <div class="links">
    <ul>
      <p class="about">About us</p>
      <li><a href="home">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="services">Services</a></li>
      <li><a href="teams">Teams</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>

    <ul>
      <p class="services">Services</p>
      <li><a href="windows">Windows</a></li>
      <li><a href="residential">Residential</a></li>
      <li><a href="commercial">Commercial</a></li>
      <li><a href="apartment">Apartment</a></li>
      <li><a href="residential">Residential</a></li>
    </ul>

    <div class="social">
      <p class="follow">Follow Us</p>
      <a
        href="https://www.facebook.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image src={Facebook} alt="Facebook icon" width={24} height={24} />
        Facebook
      </a>

      <a
        href="https://www.instagram.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image src={Instagram} alt="Instagram" width={24} height={24} />
        Instagram
      </a>

      <a
        href="https://www.twitter.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image src={Twitter} alt="Twitter" width={24} height={24} />
        Twitter
      </a>

      <a
        href="https://www.LinkedIn.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Image src={LinkedIn} alt="LinkedIn" width={24} height={24} />
        LinkedIn
      </a>
    </div>
  </div>
  <!-- <p>&copy; 2023 Your Company. All rights reserved.</p> -->
</footer>

<style>
  footer {
    background-color: aliceblue;
    /* padding: 16px; */
    display: flex;
    flex-direction: row;
    /* gap: 16px; */
    justify-content: space-between;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form {
    display: flex;
    gap: 16px;
  }

  form {
    display: flex;
    gap: 16px;
  }

  input {
    padding: 15px;
    border-radius: 4px;
    border: 1px solid black;
  }

  button {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
  }

  .links {
    display: flex;
    gap: 190px;
    align-self: flex-end;
    /* justify-content: space-evenly;    */
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
  }

  .social {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  a {
    display: flex;
    gap: 4px;
    text-decoration: none;
    color: black;
  }

  p {
    font-size: 14px;
    color: #333;
  }

  .about,
  .services,
  .follow {
    font-weight: bold;
    font-size: 16px;
    margin-top: inherit;
  }

  image {
    display: flex;
    align-self: flex-start;
  }

  @media screen and max-width(768px) {
    footer {
      padding: 16px;
    }

    .form {
      flex-direction: column;
    }

    form {
      flex-direction: column;
    }

    .links {
      flex-direction: column;
    }

    .social {
      flex-direction: row;
    }

    a {
      gap: 4px;
    }

    p {
      font-size: 12px;
    }

    .about,
    .services,
    .follow {
      font-size: 14px;
    }

    button {
      padding: 8px 12px;
    }

    input {
      padding: 6px;
    }
  }
</style>
